<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %level %class:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--springframework package level: WARN-->
    <logger name="org.springframework" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>
</configuration>